<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Language</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Key</key>
			<string>Language</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Auto</string>
				<string>English</string>
				<string>German</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Formats</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Coordinates</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>19.67538°</string>
				<string>19° 40.523&apos;</string>
				<string>19° 40&apos; 31.38&quot;</string>
			</array>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>FormatCoordinates</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Length Units</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Meter</string>
				<string>Feet</string>
				<string>Nautical Mile</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>m</string>
				<string>ft</string>
				<string>nm</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>UnitLength</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Altitude Units</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Meter</string>
				<string>Feet</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>m</string>
				<string>ft</string>
			</array>
			<key>Key</key>
			<string>UnitAltitude</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Speed Units</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Kilometer per Hour</string>
				<string>Miles per Hour</string>
				<string>Knots</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>km/h</string>
				<string>mph</string>
				<string>knots</string>
			</array>
			<key>Key</key>
			<string>UnitSpeed</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Angle Units</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Grad</string>
				<string>Radian</string>
				<string>Cardinal Direction</string>
			</array>
			<key>Key</key>
			<string>UnitAngle</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Localisation</string>
</dict>
</plist>
