<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Wherigo Cartridge File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wf.player.gwc</string>
			</array>
		</dict>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>Wherigo Cartridge File</string>
			<key>UTTypeIdentifier</key>
			<string>com.wf.player.gwc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gwc</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
	<key>CFBundleDisplayName</key>
	<string>WF.Player</string>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>wfplayerios</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon@2x</string>
		<string>Icon-60@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small-40@2x</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleVersion</key>
	<string>9</string>
</dict>
</plist>
